.contentItem {
  &--expanded {
    .contentItem__image {
      transform: scaleX(100%);
    }

    .contentItem__imageBack {
      transform: scaleX(100%);
    }

    .contentItem__arrowButton {
      transform: rotate(180deg);
    }

    .contentItem__contentContainer {
      max-height: 600px;
    }
  }

  &__header {
    background-color: $white;
    height: 220px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 545px 1fr 100px;
    align-items: end;
    overflow: hidden;
    cursor: pointer;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    transition: all .4s ease;
    transform-origin: left;
    transform: scaleX(40%);
    overflow: hidden;
  }

  &__imageBack {
    background-size: cover;
    height: 100%;
    width: 100%;
    transform: scaleX(240%);
    transition: all .4s ease;
    // transform-origin: top left;
  }

  &__label {
    color: $white;
    font-size: 88px;
    line-height: 110px;
    font-weight: bold;
    z-index: 1;
    padding-left: 32px;
  }

  &__description {
    font-size: 24px;
    line-height: 30px;
    padding: 18px 32px;
  }

  &__arrowButton {
    z-index: 1;
    bottom: 32px;
    justify-self: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
  }

  &__contentContainer {
    background-color: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    max-height: 0;
    transition: max-height .4s ease-in-out;
  }

  &__slider {
    padding: 52px;
  }
}