.downArrow {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &__faded {
    animation: bounce 1s ease-in-out infinite alternate;
  }

  &__solid {
    top: -20px;
  }
}

@keyframes bounce {

  to {
    transform: translate3d(0, -18px, 0);
  }
}