.footer {
  padding: 48px 0;
  background-color: $tertiary-color;
  color: $white;

  &--small {
    font-size: 24px;
    line-height: 30px;
  }

  &--large {
    font-size: 38px;
    line-height: 48px;
    text-transform: uppercase;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }

  &__leftContainer {
    a {
      display: inline-block;
      margin-top: 8px;
      text-decoration: underline;
    }
  }

  &__rightContainer {
    min-width: 180px;
    display: flex;
    justify-content: flex-end;
  }


  .animatedArrow {
    position: absolute;
    transform: rotate(-90deg);
    top: -14px;
    right: -120px;
  }

  @include mobile {
    padding: 24px 0;

    &--small,
    &--large {
      font-size: 14px;
      line-height: 18px;
    }

    &--small {
      .wrapper {
        flex-direction: column;
      }

      .footer__rightContainer {
        justify-content: center;
      }
    }

    .animatedArrow {
      display: none;
    }
  }
}