.footer {
  padding: 48px 0;
  background-color: $tertiary-color;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }

  &__leftContainer {
    color: $white;
  }

  &__rightContainer {}

  &__text {
    color: $white;

    &--small {
      font-size: 24px;
      line-height: 30px;
    }

    &--large {
      font-size: 38px;
      line-height: 48px;
      text-transform: uppercase;
    }
  }

  .animatedArrow {
    position: absolute;
    transform: rotate(-90deg);
    top: -14px;
    right: -120px;
  }
}