.hero {
  padding: 88px 0 40px 0;
  color: $white;
  min-height: calc(100vh - $headerHeight);
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }

  &__title {
    text-transform: uppercase;
    font-size: 56px;
    line-height: 64px;

    span {
      font-family: Mirador;
      font-weight: bold;
    }
  }

  &__subtitle {
    font-size: 72px;
    line-height: 80px;
    font-weight: bold;
    width: 50%;

    em {
      font-style: italic;
      font-weight: normal;
    }
  }

  &__logos {
    display: flex;
    gap: 24px;
    margin-bottom: 112px;
  }

  .animatedArrow {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include mobile {
    min-height: calc(100vh - $headerHeightMobile);
    padding: 48px 0 40px 0;

    &__title {
      font-size: 30px;
      line-height: 36px;
    }

    &__subtitle {
      font-size: 24px;
      line-height: 30px;
      width: 60%;
    }

    &__logos {
      flex-direction: column;
      margin-bottom: 64px;
      width: 102px;

      img {
        width: 100%;
      }
    }

    .animatedArrow {
      bottom: 8px;
      transform: scale(.7) translateX(-50%);
    }
  }
}