.pointsBlock {
  background-color: $tertiary-color;
  padding: 52px 0;

  .wrapper {
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 48px;
  }

  &__point {
    color: $white;
    padding: 32px;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    flex: 1;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: block;
      border: 7px solid $primary-color;
      border-right: 0;
      height: 150px;
      width: 150px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}