.quizContainer {
  min-height: calc(100vh - $headerHeight);
  padding: 12vh 56px;
  background-image: url("../assets/images/quiz_background.jpg");
  align-content: stretch;

  .wrapper {
    padding: 0;
    width: 100%;
  }
}