// variables
@import "variables/colours";

// foundations
@import "foundations/reset";
@import "foundations/button";
@import "foundations/grid";

// components
@import "components/header";
@import "components/footer";
@import "components/checkbox";
@import "components/animatedArrow";
@import "components/quizContainer";
@import "components/quizCard";
@import "components/hero";
@import "components/ctaBar";
@import "components/textBlock";
@import "components/spiralBlock";
@import "components/resultsHero";
@import "components/contentGroup";
@import "components/contentItem";
@import "components/slider";


body {
  background-color: $lightgray;
  color: $gray;
  font-family: Radikal;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 56px;
}

.hiddenPage {
  opacity: 0;
}