@import "variables";
@import "foundations";
@import "components/checkbox";
@import "components/quizContainer";
@import "components/quizCard";

body {
  background-color: gray;
  color: $gray;
  font-family: sans-serif;
}