html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  position: relative;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  border: 0;
  background-color: transparent;
  padding: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
}

@font-face {
  font-family: Radikal;
  font-weight: regular;
  src: url("../assets/fonts/Radikal.otf") format("opentype");
}
@font-face {
  font-family: Radikal;
  font-weight: bold;
  src: url("../assets/fonts/Radikal Bold.otf") format("opentype");
}
@font-face {
  font-family: Mirador;
  font-weight: bold;
  src: url("../assets/fonts/Mirador Bold.otf") format("opentype");
}
.button {
  padding: 0 56px;
  height: 56px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #6450FC;
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  transition: all 0.2s ease-in-out;
  font-family: Radikal;
  text-align: center;
}
.button--primary {
  background-color: #fff;
  border: 3px solid #6450FC;
  color: #6450FC;
}
.button--primary:hover {
  color: #fff;
  background-color: #6450FC;
}
.button--secondary {
  background-color: #6450FC;
  color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.button--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.button--back {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #6450FC;
  cursor: pointer;
  font-size: 16px;
  gap: 12px;
  font-family: Radikal;
}

.buttonContainer {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.header {
  padding: 24px 0;
  background: linear-gradient(270deg, #6450FC 0.66%, #FB4FB8 99.9%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 108px;
}
.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  padding: 48px 0;
  background-color: #9B50D4;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.footer__leftContainer {
  color: #fff;
}
.footer__text {
  color: #fff;
}
.footer__text--small {
  font-size: 24px;
  line-height: 30px;
}
.footer__text--large {
  font-size: 38px;
  line-height: 48px;
  text-transform: uppercase;
}
.footer .animatedArrow {
  position: absolute;
  transform: rotate(-90deg);
  top: -14px;
  right: -120px;
}

.checkbox__container {
  display: flex;
  gap: 16px;
}
.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__label::before {
  background-color: #6450FC;
}
.checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
  opacity: 1;
}
.checkbox__label {
  padding: 8px 0 8px 80px;
  cursor: pointer;
}
.checkbox__label::before, .checkbox__label::after {
  content: "";
  display: block;
  position: absolute;
  left: 8px;
  top: 6px;
  transition: all 0.2s ease-in-out;
}
.checkbox__label::before {
  border: 2px solid #6450FC;
  height: 24px;
  width: 24px;
}
.checkbox__label::after {
  content: url("../../src/assets/images/check_icon.svg");
  background-size: contain;
  transform: scale(0.5);
  opacity: 0;
  width: 34px;
  height: 24px;
}

.animatedArrow {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.animatedArrow__faded {
  animation: bounce 1s ease-in-out infinite alternate;
}
.animatedArrow__border {
  top: -20px;
}

@keyframes bounce {
  to {
    transform: translate3d(0, -18px, 0);
  }
}
.abstracts {
  height: 288px;
  display: flex;
}
.abstracts__abstract {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
}

.quizContainer {
  min-height: calc(100vh - 108px);
  padding: 80px 0;
  background-image: url("../../src/assets/images/quiz_background.jpg");
}

.quizCard {
  background-color: #fff;
  grid-column: 2/12;
  align-self: center;
  min-height: 70%;
  padding: 48px 112px;
  box-shadow: 10px 19px 20px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}
.quizCard__closeButton {
  color: #6450FC;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.quizCard__wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.quizCard__header {
  background-color: #6450FC;
  display: flex;
  padding: 0 20px;
  align-items: center;
  height: 80px;
}
.quizCard__number {
  font-size: 72px;
  line-height: 86px;
  right: 22px;
  top: 2px;
  color: #fff;
  font-weight: bold;
  font-family: Mirador;
}
.quizCard__title {
  font-size: 24px;
  color: #fff;
  font-family: Radikal;
}
.quizCard__answerList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 80%;
  margin: 40px auto;
  flex: 1;
}
.quizCard__answer {
  font-size: 24px;
  line-height: 30px;
}
.quizCard__footer {
  display: grid;
  grid-template-columns: 120px 1fr 120px;
}
.quizCard__footer .button--back {
  grid-column: 1/2;
  justify-self: start;
  align-self: center;
}
.quizCard__footer .button--primary {
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
}
.quizCard__footer .quizCard__pagination {
  grid-column: 3/4;
  justify-self: end;
  align-self: end;
}
.quizCard__pagination {
  color: #6450FC;
  font-size: 20px;
}
.quizCard__hiddenCard {
  opacity: 0;
  transform: scale(0.6);
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quizCard__hiddenCard--show {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}
.quizCard__hiddenCardWrapper {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.quizCard__hiddenCardWrapper .buttonContainer {
  margin-top: 80px;
}
.quizCard__hiddenCardTitle {
  font-size: 38px;
  line-height: 46px;
  color: #6450FC;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 56px;
  font-weight: bold;
  font-family: Mirador;
}
.quizCard__hiddenCardText {
  font-size: 24px;
  margin-top: 40px;
}

.hero {
  padding: 88px 0 40px 0;
  color: #fff;
  min-height: calc(100vh - 108px);
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.hero__title {
  text-transform: uppercase;
  font-size: 56px;
  line-height: 64px;
}
.hero__title span {
  font-family: Mirador;
  font-weight: bold;
}
.hero__subtitle {
  font-size: 72px;
  line-height: 80px;
  font-weight: bold;
  width: 40%;
}
.hero__subtitle em {
  font-style: italic;
  font-weight: regular;
}
.hero__logos {
  display: flex;
  gap: 24px;
}
.hero .animatedArrow {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.ctaBar {
  display: flex;
  align-items: center;
}
.infoBlock {
  padding: 80px 0;
}
.infoBlock .wrapper {
  display: flex;
}
.infoBlock__textBlock {
  padding: 48px 56px;
  padding-right: 36%;
  background-color: #6450FC;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 70%;
  font-size: 20px;
  line-height: 25px;
  left: 10%;
}
.infoBlock__figureBlock {
  position: absolute;
  top: 24px;
  right: 10%;
}
.infoBlock__figureBlock::before {
  content: "";
  background-color: #FB50B9;
  width: 90%;
  height: 50%;
  display: block;
  position: absolute;
  bottom: -40px;
  left: -40px;
}

.pointsBlock {
  background-color: #9B50D4;
  padding: 52px 0;
}
.pointsBlock .wrapper {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 48px;
}
.pointsBlock__point {
  color: #fff;
  padding: 32px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  flex: 1;
  display: flex;
  align-items: center;
}
.pointsBlock__point::before {
  content: "";
  display: block;
  border: 7px solid #6450FC;
  border-right: 0;
  height: 150px;
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
}

.textBlock {
  padding: 96px 0;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #fff;
  background-color: #6450FC;
  font-family: Mirador;
}

.spiralBlock {
  padding: 80px 0 160px 0;
  margin: 72px 0;
  overflow: hidden;
  background-image: url("../assets/images/spiral_arrow.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.spiralBlock .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 140px;
}
.spiralBlock__block {
  width: 485px;
  display: flex;
  align-items: center;
  height: 230px;
  padding-right: 24px;
  z-index: 1;
}
.spiralBlock__block:nth-of-type(1) {
  background-color: #CA50C7;
}
.spiralBlock__block:nth-of-type(2) {
  background-color: #9B50D4;
}
.spiralBlock__block:nth-of-type(3) {
  background-color: #6A50E2;
}
.spiralBlock__number {
  color: #FB50B9;
  font-weight: 700;
  font-family: Mirador;
  font-size: 96px;
  line-height: 115px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 8px;
  left: -32px;
  z-index: 1;
}
.spiralBlock__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin-left: 136px;
  z-index: 1;
}

.resultsHero {
  padding: 48px 80px 128px 0;
}
.resultsHero__container {
  background-color: #6450FC;
  padding: 48px 56px;
}
.resultsHero__textContainer {
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  width: 55%;
}
.resultsHero__title {
  font-size: 56px;
  line-height: 72px;
  margin-bottom: 40px;
  font-weight: bold;
}
.resultsHero__bulletsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 56px 0;
}
.resultsHero__bullet::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #FB50B9;
  transform: rotate(45deg);
  margin-right: 16px;
}
.resultsHero__image {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: -104px;
  top: 48px;
}
.resultsHero .animatedArrow {
  position: absolute;
  bottom: -148px;
  left: 50%;
  transform: translateX(-50%);
}

.contentGroup {
  padding: 32px 0;
}
.contentGroup .wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contentItem--expanded .contentItem__image {
  transform: scaleX(100%);
}
.contentItem--expanded .contentItem__imageBack {
  transform: scaleX(100%);
}
.contentItem--expanded .contentItem__arrowButton {
  transform: rotate(180deg);
}
.contentItem--expanded .contentItem__contentContainer {
  max-height: 600px;
}
.contentItem__header {
  background-color: #fff;
  height: 220px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 40% 1fr 100px;
  align-items: end;
  overflow: hidden;
  cursor: pointer;
}
.contentItem__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 1;
  transition: all 0.4s ease;
  transform-origin: left;
  transform: scaleX(40%);
  overflow: hidden;
}
.contentItem__imageBack {
  background-size: cover;
  height: 100%;
  width: 100%;
  transform: scaleX(240%);
  transition: all 0.4s ease;
}
.contentItem__label {
  color: #fff;
  font-size: 80px;
  line-height: 104px;
  font-weight: bold;
  z-index: 1;
  padding-left: 32px;
}
.contentItem__description {
  font-size: 24px;
  line-height: 30px;
  padding: 18px 32px;
}
.contentItem__arrowButton {
  z-index: 1;
  bottom: 32px;
  justify-self: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.contentItem__contentContainer {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-in-out;
}
.contentItem__slider {
  padding: 52px;
}

:root {
  --swiper-navigation-sides-offset: 5%;
}

.swiper {
  width: 80%;
}
.swiper .swiper-slide {
  height: auto;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  transform: rotate(180deg);
}

.slide {
  padding: 12px;
}
.slide__container {
  background: #F8F8FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 12px;
  height: 100%;
}
.slide__image {
  margin-bottom: 8px;
  background-color: #646464;
  min-height: 280px;
  min-width: 190px;
}
.slide__image img {
  width: 100%;
}
.slide__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 8px;
}
body {
  background-color: #F5F5F5;
  color: #646464;
  font-family: Radikal;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 56px;
}

.hiddenPage {
  opacity: 0;
}/*# sourceMappingURL=main.css.map */