@import "variables";
@import "foundations";
@import "components";

body {
  background-color: gray;
  color: $gray;
  font-family: sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 56px;
}

.hiddenPage {
  opacity: 0;
}