html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  position: relative;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  border: 0;
  background-color: transparent;
  padding: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button {
  padding: 0 40px;
  height: 56px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #6450FC;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
}
.button--primary {
  background-color: #fff;
  border: 3px solid #6450FC;
  color: #6450FC;
}
.button--primary:hover {
  color: #fff;
  background-color: #6450FC;
}
.button--secondary {
  background-color: #6450FC;
  color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.button--disabled {
  opacity: 0.5;
  pointer-events: none;
}

.buttonContainer {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
}

.header {
  padding: 24px 0;
  background: linear-gradient(270deg, #6450FC 0.66%, #FB4FB8 99.9%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox__container {
  display: flex;
  gap: 16px;
}
.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__label::before {
  background-color: #6450FC;
}
.checkbox__input:checked + .checkbox__label::after {
  transform: scale(1);
  opacity: 1;
}
.checkbox__label {
  padding: 8px 0 8px 80px;
  cursor: pointer;
}
.checkbox__label::before, .checkbox__label::after {
  content: "";
  display: block;
  position: absolute;
  left: 8px;
  top: 6px;
  transition: all 0.2s ease-in-out;
}
.checkbox__label::before {
  border: 2px solid #6450FC;
  height: 24px;
  width: 24px;
}
.checkbox__label::after {
  content: url("../../assets/images/check.svg");
  background-size: contain;
  background-color: red;
  transform: scale(0.5);
  opacity: 0;
  width: 34px;
  height: 24px;
}

.quizContainer {
  min-height: 100vh;
}

.quizCard {
  background-color: #fff;
  grid-column: 2/12;
  align-self: center;
  height: 60vh;
  padding: 48px 112px;
}
.quizCard__closeButton {
  color: #6450FC;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.quizCard__wrapper {
  height: 100%;
  margin: 0 auto;
}
.quizCard__header {
  background-color: #6450FC;
  display: flex;
  padding: 0 20px;
  align-items: center;
  height: 80px;
}
.quizCard__number {
  font-size: 80px;
  right: 30px;
  font-weight: bold;
  color: #fff;
}
.quizCard__title {
  font-size: 24px;
  color: #fff;
}
.quizCard__answerList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 80%;
  margin: 40px auto;
}
.quizCard__answer {
  font-size: 24px;
}
.quizCard__footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.quizCard__footer .button--back {
  grid-column: 1/2;
  justify-self: start;
}
.quizCard__footer .button--primary {
  grid-column: 2/3;
  justify-self: center;
}
.quizCard__footer .quizCard__pagination {
  grid-column: 3/4;
  justify-self: end;
}
.quizCard__pagination {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #6450FC;
}
.quizCard__hiddenCard {
  opacity: 0;
  transform: scale(0.6);
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quizCard__hiddenCard--show {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}
.quizCard__hiddenCardWrapper {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.quizCard__hiddenCardWrapper .buttonContainer {
  margin-top: 80px;
}
.quizCard__hiddenCardTitle {
  font-size: 36px;
  color: #6450FC;
  font-weight: 700;
  margin-bottom: 56px;
}
.quizCard__hiddenCardText {
  font-size: 24px;
  margin-top: 40px;
}

.ctaBar {
  display: flex;
  align-items: center;
}
body {
  background-color: gray;
  color: #646464;
  font-family: Radikal;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 56px;
}

.hiddenPage {
  opacity: 0;
}/*# sourceMappingURL=main.css.map */