<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./styles/main.css" />
</head>

<body>
  <div id="app">
    <div class="quizContainer grid">
      <h1>Inquerito</h1>
      <div class="quizCard">
        <header class="quizCard__header">
          <span class="quizCard__number">{{activeQuestion + 1}}</span>
          <h3 class="quizCard__title">{{questions[activeQuestion].title}}</h3>
        </header>
        <ul class="quizCard__answerList">
          <li class="quizCard__answer" v-for="(answer, aindex) in questions[activeQuestion].answers" :key="answer">
            <label :for="`answer${activeQuestion}${aindex}`">{{answer}}</label>
            <input type="radio" :name="`answer${activeQuestion}`" :id="`answer${activeQuestion}${aindex}`"
              v-model="questions[activeQuestion].answered" :value="aindex + 1">
          </li>
        </ul>
        <button class="button button--back" @click="handleGoBack" v-if="activeQuestion">voltar</button>
        <button class="button button--primary" @click="handleFinishQuiz" v-if="activeQuestion === questions.length - 1"
          :disabled="!questions[activeQuestion].answered">Terminar inquérito</button>
        <button class="button button--primary" @click="handleGoForward" v-else
          :disabled="!questions[activeQuestion].answered">avançar</button>
        <div class="quizCard__pagination">
          <span>{{activeQuestion + 1}}/{{questions.length}}</span>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/app.js"></script>
</body>

</html>