<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./styles/main.css" />
</head>

<body>
  <div id="quiz">
    <div class="hiddenPage">
      <div class="quizContainer grid">
        <div class="quizCard">
          <button class="quizCard__closeButton" @click="handleShowHiddenCard">X</button>
          <div class="quizCard__wrapper">
            <header class="quizCard__header">
              <span class="quizCard__number">{{currentQuestion}}</span>
              <h3 class="quizCard__title">{{questions[activeQuestion].title}}</h3>
            </header>
            <ul class="quizCard__answerList">
              <li class="quizCard__answer" v-for="(answer, aindex) in questions[activeQuestion].answers" :key="answer">
                <div class="checkbox__container">
                  <input class="checkbox__input" type="radio" :name="`answer${activeQuestion}`"
                    :id="`answer${activeQuestion}${aindex}`" v-model="questions[activeQuestion].answered"
                    :value="aindex + 1">
                  <label class="checkbox__label" :for="`answer${activeQuestion}${aindex}`">{{answer}}</label>
                </div>
              </li>
            </ul>
            <footer class="quizCard__footer">
              <button class="button button--back" @click="handleGoBack" v-if="activeQuestion">
                voltar
              </button>
              <button class="button button--primary" :class="{'button--disabled': !questions[activeQuestion].answered}"
                @click="handleFinishQuiz" v-if="activeQuestion === questions.length - 1">
                Terminar inquérito
              </button>
              <button class="button button--primary" :class="{'button--disabled': !questions[activeQuestion].answered}"
                @click="handleGoForward" v-else>
                avançar
              </button>
              <div class="quizCard__pagination">
                <span>{{currentQuestion}}/{{totalQuestions}}</span>
              </div>
            </footer>
          </div>
          <div class="quizCard__hiddenCard" :class="{'quizCard__hiddenCard--show': showHiddenCard}">
            <div class="quizCard__hiddenCardWrapper">
              <h2 class="quizCard__hiddenCardTitle">
                Tem certeza que deseja sair?
              </h2>
              <p class="quizCard__hiddenCardText">
                Ao sair do inquérito todas as respostas enviadas até o momento serão perdidas.
              </p>
              <p class="quizCard__hiddenCardText">
                Para ter acesso ao diagnóstico será necessário inicar o inquérito novamente.
              </p>
              <div class="buttonContainer">
                <a class="button button--primary" href="index.html">
                  Sair do inquérito
                </a>
                <button class="button button--primary" @click="handleHideHiddenCard">
                  voltar ao inquérito
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/quiz.js"></script>
</body>

</html>