<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entrepreneurial Act - Inquérito</title>
  <link rel="stylesheet" href="./styles/main.css" />
</head>

<body>
  <div id="quiz">
    <div class="hiddenPage">

      <!-- header -->
      <header class="header">
        <div class="wrapper">
          <a href="https://pbs.up.pt" target="_blank">
            <figure class="header__logoLeft">
              <img src="assets/images/logo_pbs.svg" alt="Porto Business School">
            </figure>
          </a>
          <a href="https://www.portodigital.pt/" target="_blank">
            <figure class="header__logoRight">
              <img src="assets/images/logo_apd.svg" alt="Associação Porto Digital">
            </figure>
          </a>
        </div>
      </header>

      <!-- quizContainer -->
      <div class="quizContainer grid">
        <div class="wrapper grid__item--large">

          <div class="quizCard">
            <button class="quizCard__closeButton" @click="handleShowHiddenCard">
              <img src="assets/images/close_icon.svg" alt="Fechar">
            </button>
            <div class="quizCard__wrapper">
              <header class="quizCard__header">
                <span class="quizCard__number">{{currentQuestion}}</span>
                <h3 class="quizCard__title">{{questions[activeQuestion].title}}</h3>
              </header>
              <ul class="quizCard__answerList">
                <li class="quizCard__answer" v-for="(answer, aindex) in questions[activeQuestion].answers"
                  :key="answer">
                  <div class="checkbox__container">
                    <input class="checkbox__input" type="radio" :name="`answer${activeQuestion}`"
                      :id="`answer${activeQuestion}${aindex}`" v-model="questions[activeQuestion].answered"
                      :value="aindex + 1">
                    <label class="checkbox__label" :for="`answer${activeQuestion}${aindex}`">{{answer}}</label>
                  </div>
                </li>
              </ul>
              <footer class="quizCard__footer">
                <button class="button--back" @click="handleGoBack" v-if="activeQuestion">
                  <img src="assets/images/double_arrow_icon.svg" alt="voltar">
                  <span>
                    voltar
                  </span>
                </button>
                <button class="button button--primary"
                  :class="{'button--disabled': !questions[activeQuestion].answered}" @click="handleFinishQuiz"
                  v-if="activeQuestion === questions.length - 1">
                  Terminar inquérito
                </button>
                <button class="button button--primary"
                  :class="{'button--disabled': !questions[activeQuestion].answered}" @click="handleGoForward" v-else>
                  avançar
                </button>
                <div class="quizCard__pagination">
                  <span>{{currentQuestion}}/{{totalQuestions}}</span>
                </div>
              </footer>
            </div>

            <!-- card saída -->
            <div class="quizCard__hiddenCard" :class="{'quizCard__hiddenCard--show': showHiddenCard}">
              <div class="quizCard__hiddenCardWrapper">
                <h2 class="quizCard__hiddenCardTitle">
                  Tem certeza que deseja sair?
                </h2>
                <p class="quizCard__hiddenCardText">
                  Ao sair do inquérito todas as respostas enviadas até o momento serão perdidas.
                </p>
                <p class="quizCard__hiddenCardText">
                  Para ter acesso ao diagnóstico será necessário inicar o inquérito novamente.
                </p>
                <div class="buttonContainer">
                  <a class="button button--primary" href="index.html">
                    Sair do inquérito
                  </a>
                  <button class="button button--secondary" @click="handleHideHiddenCard">
                    voltar ao inquérito
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="js/quiz.js"></script>
</body>

</html>