<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./styles/main.css" />
</head>

<body>
  <div id="result">
    <div class="hiddenPage">

      <!-- header -->
      <header class="header">
        <div class="wrapper">
          <a href="https://pbs.up.pt" target="_blank">
            <figure class="header__logoLeft">
              <img src="assets/images/logo_pbs.svg" alt="Porto Business School">
            </figure>
          </a>
          <a href="https://www.portodigital.pt/" target="_blank">
            <figure class="header__logoRight">
              <img src="assets/images/logo_apd.svg" alt="Associação Porto Digital">
            </figure>
          </a>
        </div>
      </header>

      <!-- resultsHero -->
      <section class="resultsHero">
        <div class="wrapper">
          <div class="resultsHero__container">
            <div class="resultsHero__textContainer">
              <h1 class="resultsHero__title">
                Maturidade {{level}}
              </h1>
              <p class="resultsHero__text">
                {{selectedCopy.hero.topText}}
              </p>
              <ul class="resultsHero__bulletsContainer">
                <li v-for="bullet in selectedCopy.hero.bullets" :key="bullet" class="resultsHero__bullet">
                  {{bullet}}
                </li>
              </ul>
              <p class="resultsHero__text">
                {{selectedCopy.hero.bottomText}}
              </p>
              <div class="downArrow">
                <figure class="downArrow__faded">
                  <img src="assets/images/down_arrow_faded_icon.svg" alt="">
                </figure>
                <figure class="downArrow__border">
                  <img src="assets/images/down_arrow_border_icon.svg" alt="">
                </figure>
              </div>
            </div>
            <figure class="resultsHero__image">
              <img :src="selectedCopy.hero.image" :alt="`Maturidade ${level}`">
            </figure>
          </div>
        </div>
      </section>

      <!-- contentGroup -->
      <section class="contentGroup">
        <div class="wrapper">
          <article class="contentItem" :class="{'contentItem--expanded': activeContent === index}"
            v-for="(item, index) in content" :key="content.title">
            <header class="contentItem__header">
              <figure class="contentItem__image">
                <img :src="item.image" :alt="item.title">
              </figure>
              <h2 class="contentItem__title">
                {{item.title}}
              </h2>
              <p class="contentItem__description">
                {{item.description}}
              </p>
              <button class="contentItem__arrowButton" @click="handleToggle(index)">
                <img src="assets/images/down_arrow_solid_icon.svg" alt="abrir conteúdo">
              </button>
            </header>
            <div class="contentItem__contentContainer">
              <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="slide swiper-slide">
                    <div class="slide__container">
                      <figure class="slide__image">
                        <img src="assets/images/livro1.jpg" alt="">
                      </figure>
                      <p class="slide__title">
                        Título
                      </p>
                      <p class="slide__author">
                        Nome autor
                      </p>
                    </div>
                  </div>
                  <div class="slide swiper-slide">
                    <div class="slide__container">
                      <figure class="slide__image">
                        <img src="assets/images/livro1.jpg" alt="">
                      </figure>
                      <p class="slide__title">
                        Título
                      </p>
                      <p class="slide__author">
                        Nome autor
                      </p>
                    </div>
                  </div>
                  <div class="slide swiper-slide">
                    <div class="slide__container">
                      <figure class="slide__image">
                        <img src="assets/images/livro1.jpg" alt="">
                      </figure>
                      <p class="slide__title">
                        Título
                      </p>
                      <p class="slide__author">
                        Nome autor
                      </p>
                    </div>
                  </div>
                  <div class="slide swiper-slide">
                    <div class="slide__container">
                      <figure class="slide__image">
                        <img src="assets/images/livro1.jpg" alt="">
                      </figure>
                      <p class="slide__title">
                        Título
                      </p>
                      <p class="slide__author">
                        Nome autor
                      </p>
                    </div>
                  </div>
                  <div class="slide swiper-slide">
                    <div class="slide__container">
                      <figure class="slide__image">
                        <img src="assets/images/livro1.jpg" alt="">
                      </figure>
                      <p class="slide__title">
                        Título
                      </p>
                      <p class="slide__author">
                        Nome autor
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-button-prev">
                <img src="assets/images/slider_arrow.svg" alt="slide anterior">
              </div>
              <div class="swiper-button-next">
                <img src="assets/images/slider_arrow.svg" alt="próximo slide">
              </div>
            </div>
          </article>
        </div>
      </section>

    </div>
  </div>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/result.js"></script>
</body>

</html>