<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./styles/main.css" />
</head>

<body>
  <div id="result">
    <div class="hiddenPage">

      <!-- header -->
      <header class="header">
        <div class="wrapper">
          <a href="https://pbs.up.pt" target="_blank">
            <figure class="header__logoLeft">
              <img src="assets/images/logo_pbs.svg" alt="Porto Business School">
            </figure>
          </a>
          <a href="https://www.portodigital.pt/" target="_blank">
            <figure class="header__logoRight">
              <img src="assets/images/logo_apd.svg" alt="Associação Porto Digital">
            </figure>
          </a>
        </div>
      </header>

      <!-- resultsHero -->
      <section class="resultsHero">
        <div class="wrapper">
          <div class="resultsHero__container">
            <div class="resultsHero__textContainer">
              <h1 class="resultsHero__title">
                Maturidade {{level}}
              </h1>
              <p class="resultsHero__text">
                {{selectedCopy.hero.topText}}
              </p>
              <ul class="resultsHero__bulletsContainer">
                <li v-for="bullet in selectedCopy.hero.bullets" :key="bullet" class="resultsHero__bullet">
                  {{bullet}}
                </li>
              </ul>
              <p class="resultsHero__text">
                {{selectedCopy.hero.bottomText}}
              </p>
              <div class="animatedArrow" @click="scrolldown">
                <figure class="animatedArrow__faded">
                  <img src="assets/images/down_arrow_faded_icon.svg" alt="">
                </figure>
                <figure class="animatedArrow__border">
                  <img src="assets/images/down_arrow_border_icon.svg" alt="">
                </figure>
              </div>
            </div>
            <figure class="resultsHero__image parallax">
              <img :src="selectedCopy.hero.image" :alt="`Maturidade ${level}`" data-depth="0.2">
            </figure>
          </div>
        </div>
      </section>

      <!-- contentGroup -->
      <section class="contentGroup">
        <div class="wrapper">
          <article class="contentItem" v-for="contentItem in groups" :key="contentItem.id">
            <header class="contentItem__header" @click="handleToggle">
              <figure class="contentItem__image">
                <div class="contentItem__imageBack" :style="{'background-image': `url(${contentItem.image})`}"></div>
              </figure>
              <h2 class="contentItem__label">
                {{contentItem.label}}
              </h2>
              <p class="contentItem__description">
                {{contentItem.description}}
              </p>
              <button class="contentItem__arrowButton">
                <img src="assets/images/down_arrow_solid_icon.svg" alt="abrir conteúdo">
              </button>
            </header>
            <div class="contentItem__contentContainer">
              <div class="contentItem__slider">
                <div class="swiper" :class="`swiper-${contentItem.id}`">
                  <div class="swiper-wrapper">
                    <div class="slide swiper-slide" v-for="contentItem in content[contentItem.id]"
                      :key="contentItem.title">
                      <a class="slide__container" :href="contentItem.url" target="_blank">
                        <figure class="slide__image">
                          <img :src="contentItem.image" :alt="contentItem.title">
                        </figure>
                        <p class="slide__title">
                          {{contentItem.title}}
                        </p>
                        <p class="slide__author">
                          {{contentItem.author}}
                        </p>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="swiper-button-prev" :class="`swiper-button-prev-${contentItem.id}`">
                  <img src="assets/images/slider_arrow.svg" alt="slide anterior">
                </div>
                <div class="swiper-button-next" :class="`swiper-button-next-${contentItem.id}`">
                  <img src="assets/images/slider_arrow.svg" alt="próximo slide">
                </div>
              </div>
            </div>
          </article>
        </div>
      </section>

      <!-- footer -->
      <footer class="footer">
        <div class="wrapper">
          <div class="footer__leftContainer">
            <p class="footer__text--small">
              Tenha sempre todo o material consigo
            </p>
            <p class="footer__text--small">
              Descarregue o conteúdo nos formatos ao lado
            </p>
          </div>
          <div class="footer__rightContainer">
            <div class="buttonContainer">
              <a href="#" target="_blank" class="button button--secondary">Formato Excel</a>
              <a href="#" target="_blank" class="button button--secondary">Formato PDF</a>
            </div>
          </div>
        </div>
      </footer>

    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="js/result.js"></script>
</body>

</html>